.catalogue_card {
  position: relative;
  background-color: #00353b;
  border-radius: 10px;
  height: 300px;
  width: 250px;
  overflow: hidden;
}
.catalogue_info {
  margin: 20px 10px;
}
.catalogue_buttonInfo {
  background-color: aliceblue;
  color: #00353b;
  border: none;
  border-radius: 8px;
  padding: 5px 8px;
  margin-bottom: 8px;
  cursor: pointer;
}
.catalogue_title {
  color: aliceblue;
  margin-bottom: 10px;
}
.catalogue_price {
  color: aliceblue;
}

.catalogue_image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin: 40px 20px 0 20px;
}
.catalogue_buttonImage {
  background-color: #22a45a;
  color: aliceblue;
  padding: 5px 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  left: 10px;
  bottom: 120px;
}
.catalogPhoto {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  bottom: -50px;
  right: -30px;
}
